body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.section table th {
  text-align: left;
}

.sectionItem {
  font-weight: bold;
}


.liveForm .live {
    border-bottom: dashed 1px #00f;
}

.liveForm .live-hover {
    background-color: #ffd;
}

.live-editor {
  height: 10px;
}