div#page_container.page_container
	div#top_container.top_container
		div#scrollable_top.scrollable_top
			div#text
				|First line.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|This has some text in it.<br />
				|Last line.<br />
	div#bottom_container.bottom_container
		div#header.header
			span#action_button Click Here
		div#collapsable.collapsable
			div#tab1.tab1
				p Tab 1
			div#tab2.tab2
				p Tab 2
			div#tab3.tab3
				p Tab 3