ul.files {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

.files li {
	float: left;
	position: relative;
	display: inline-block;
	text-align: left;
	border: 1px #CCC solid;
	background: none repeat scroll 0 0 white;
	margin: 5px;
	height: 150px;
	width: 150px;
	overflow: hidden;
}

#fileupload {
	display: inline-block;
	width: 100%;
}

#media {
	min-height: 230px;
}

.detailContentSection {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	width: auto;
	padding: 10px 10px;
	border: 2px solid #CCC;
}

.secondaryButtons {
	text-align: right;
	float: none;
	width: 98%
	margin: 10px;
	margin-right: 0;
}

ul.files .dragHandle {
	background: none repeat scroll 0 0 #CCC;
	height: 20px;
}

ul.files .preview {
	text-align: center;
	height: 100px;
	width: 150px;
}

ul.files .delete {
	position: absolute;
	right: 0;
	top: 0;
}

.preview img {
	height: 100px;
	width: 100px;
}