#main {
	border: 1px solid black;
	margin: 200px;
}

div.tooltip {
	border: 1px solid black;
	width: 200px;
	margin: 0;
	padding: 5px;
	background: white;
}

.tooltip ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.label {
	height: 35px;
	border-bottom: 1px dotted blue;
}

.content {
	width: 200px;
	padding: 5px;
}